body {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
}

/* .main-container {
  margin: 0 12px;
} */

.view-heading {
  text-align: center;
  padding: 24px 0px;
  margin: 0px;
}

.view-text {
  text-align: center;
  margin: 36px auto;
  max-width: 1000px;
}

.blockquote {
  padding: 0px 12px;
  font-style: italic;
  font-size: 12px;
  /* box-shadow: 0 0 3px 0px gray; */
  /* border-radius: 4px; */
  margin-left: 0px;
  /* border-top: 1px solid gray; */
  margin: 24px 16px;
  /* border-bottom: 1px solid gray; */
  border-left: 10px solid teal;
}